pscs.testing.intermed/pscs.testing.intermed.web/src/main/resources/xsd/infoGare_V5.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="reponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="entete" maxOccurs="1" minOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="erreurs" maxOccurs="1" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="erreur" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:attribute name="code" type="xsd:string" use="required" />
												<xsd:attribute name="description" type="xsd:string" use="required" />
												<xsd:attribute name="detail" type="xsd:string" use="required" />
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="contexte" maxOccurs="1" minOccurs="0" type="xsd:anyType" />
						</xsd:sequence> 
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="message" maxOccurs="1" minOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="gare" type="xsd:integer"/>
							<xsd:element name="listeTrain">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="train" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="numTrain" type="xsd:integer"/>
													<xsd:element name="date" type="xsd:dateTime"/>
													<xsd:element name="origDest"/>
													<xsd:element name="libelle" type="xsd:string"/>
													<xsd:element name="marque" type="xsd:string"/>
													<xsd:element name="voie" type="xsd:string"/>
													<xsd:element name="retard" type="xsd:integer"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="listeInfoConjoncturelle">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="infoConjoncturelle" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="message" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>